
@{
    ViewBag.Title = "Error_401";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section home{
    Lỗi không có quyền
    }
<div class="alert alert-danger">
    Bạn không có quyển truy cập trang này
</div>

