
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mb-5 text-dark">
    Bạn cần đăng nhập trước khi tạo giỏ hàng!!!
   <a href="/dang-nhap">Đăng nhập</a>

</div>

