@model Web_Sach.Models.Tin_Tuc
@{
    ViewBag.Title = "NewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <img src="@Model.Image" class="w-25 m-auto"/>

    </div>

    <div class="row mt-4">
        @Model.Description

    </div>
   

</div>

