<section class="myfooter  bg-dark text-white py-4 mt-5">
    <div class="container ">
        @*<div class="row">
            <div class="col-md">
                <h6>VĂN PHÒNG GIAO DỊCH</h6>
                <ul class="list-menu">
                    <li class="li_menu  "><a href="#" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu  "><a href="#" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu "><a href="#" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu "><a href="#" title="Tin mới nhất">Tin mới nhất</a></li>

                    <li class="li_menu"><a href="#" title="Liên hệ">Liên hệ</a></li>
                </ul>


            </div>

            <div class="col-md">
                <h6>VỀ CHÚNG TÔI</h6>
                <ul class="list-menu">
                    <li class="li_menu  "><a href="#" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu  "><a href="#" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu "><a href="#" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu "><a href="#" title="Tin mới nhất">Tin mới nhất</a></li>

                    <li class="li_menu"><a href="#" title="Liên hệ">Liên hệ</a></li>
                </ul>


            </div>

            <div class="col-md">
                <h6>CHÍNH SÁCH BÁN HÀNG</h6>
                <ul class="list-menu">
                    <li class="li_menu  "><a href="#" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu  "><a href="#" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu "><a href="#" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu "><a href="#" title="Tin mới nhất">Tin mới nhất</a></li>

                    <li class="li_menu"><a href="#" title="Liên hệ">Liên hệ</a></li>
                </ul>


            </div>

            <div class="col-md">
                <h6>THEO DÕI CHÚNG TÔI</h6>
                <ul class="list-menu">
                    <li class="li_menu  "><a href="#" title="Trang chủ">Trang chủ</a></li>
                    <li class="li_menu  "><a href="#" title="Giới thiệu">Giới thiệu</a></li>
                    <li class="li_menu "><a href="#" title="Sản phẩm">Sản phẩm</a></li>
                    <li class="li_menu "><a href="#" title="Tin mới nhất">Tin mới nhất</a></li>

                    <li class="li_menu"><a href="#" title="Liên hệ">Liên hệ</a></li>
                </ul>


            </div>


        </div>*@
        <hr>

        <div class="row">
            <div class="col-md-6">
                <h6 class="mb-3"> TỦ SÁCH BOOK STORE</h6>


                <p class="m-0" style="color: #8b8e96;">Copyright 2021 Công ty cổ phần thương mại Book Store</p>
                <p class="m-0" style="color: #8b8e96;"> Chứng nhận ĐKKD số: 0388282938 do sở KH & ĐT TP.Hà Nội cấp</p>
                <p class="m-0" style="color: #8b8e96;">  Địa chỉ: Tòa nhà Ladeco 266 Đội Cấn, Ba Đình, Hà Nội</p>
                <p class="m-0" style="color: #8b8e96;">Điện thoại: 18006750 - Email: support@sapo.vn</p>


            </div>


            <div class="col-md-6">
                <h6>NHẬN TIN KHUYẾN MÃI</h6>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <button class=" btn  text-bg-danger">Đăng ký</button>
                </div>


                <div>
                    <span class="box50 border border-danger bg-white rounded-pill m-3">
                        <i class="fa-brands fa-instagram text-dark"></i>
                    </span>

                    <span class="box50 border border-danger bg-white rounded-pill m-3">
                        <i class="fa-brands fa-facebook text-info"></i>
                    </span>

                    <span class="box50 border border-danger bg-white rounded-pill m-3">
                        <i class="fa-brands fa-youtube text-danger"></i>
                    </span>
                </div>


            </div>

        </div>
        <hr>

        <div class="row justify-content-around">

            Bản quyền thuộc về Ego Creative Cung cấp bởi Giaodienblog.com

        </div>

    </div>






</section>