@model List<Web_Sach.Models.DanhMucSP>
    @{ 
        int count = Model.Count;
    }

<div class="container ">
    <div class="row">


        <div class="col-md-3  text-white py-3">

            <a href="#" class="category dropdown" data-bs-toggle="dropdown">
                <i class="fa fa-bars p-1" aria-hidden="true"></i>
                DANH MỤC SẢN PHẨM
            </a>
            <ul class="dropdown-menu">
                @foreach (var item in Model)
                {
                    <li><a href="/san-pham/@item.MetaTitle-@item.ID" class="dropdown-item">@item.Name</a></li>
                     if (count > 1)
                    {
                        <li><hr class="dropdown-divider"></li>

                    }
                    count--;


                }



            </ul>


        </div>


        <!--Nav sau danh mục-->
        <div class="col-md-9">
            <!--Nav-->
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

                            <li class="nav-item ">
                                <a class="nav-link active text-white me-3" aria-current="page" href="/Home/Index">Trang chủ</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white  me-3" href="/gioi-thieu">Giới thiệu</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link text-white  me-3" href="/hoan-thanh" role="button"  aria-expanded="false">
                                   Đơn hàng
                                </a>
                                @*<ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>*@
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white  me-3" aria-disabled="true" href="/tin-tuc">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white me-3" aria-disabled="true" href="/lien-he">Liên hệ</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>

        </div>

    </div>

</div>